body {
  background-color: #f5f5f5;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

}

.indexList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e7e7e7;
  justify-content: baseline;
}